.image-button.selected {
    width: auto;
    height: auto;
    border-color: #ff69b4;
    background-color: #fffacd;
}

.left-choice {
    position: absolute;
    top: 100px;
    left: 200px;
}

.center-choice {
    position: absolute;
    top: 100px;
    left: 500px;
}

.right-choice {
    position: absolute;
    top: 100px;
    left: 800px;
}
